body {
    background-color: rgb(229, 226, 226);
}


.navbar-links{
    float: right;
}

.viz-info {
    background-color: white;
    padding: 16px;
    text-align: justify;
}

.navbar-brand {
    background-color: teal;
    padding: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: bold;
}

#content-container {
    margin-top: 32px;
    visibility: visible;
}

h1 {
    color:teal;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 24px;
    font-weight: bold;
}

.summary-image {
    width: 200px;
    float: left;

}

.small-image {
    width: 150px;
}

.medium-image {
    width: 550px;
    
    display: block;

}

.smallmed-image {
    width: 230px;
    height: auto;
    margin-left: 2px;
    margin-right: auto;
    display: block;
}

#data-table-container {
    background-color: white;
    margin-top: 32px;
}

#graphs-container {
    margin-top: 32px;
    background-color: white;
    
}